@font-face {
    font-family: Fase;
    src: url(./fase-bulan-font/FaseBulan-BW633.otf);
}


*{
    margin: 0;
    padding: 0;
    
}
body{
    display: grid;
    place-items: center;
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        height: 100vh;
    }


h1{
    font-family: Fase, sans-serif;
    font-size: 50px;
    text-align: center;
    margin: 20px 0 20px 0;
    animation: heartBeat 1s;
}
h2{
    color: aliceblue;
    animation: pulse 1s infinite;
    text-align: center;
    margin-bottom: 20px;
}


.board{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    border: 2px solid black;
   width: 630px;
   background-color: rgb(74, 74, 198);
    
  
}

ul{
    display: grid;
    place-items: center;
    
}

ul p{
    margin: 5px;
    width: 75px;
    height: 75px;
    border: 2px solid black;
    border-radius: 100px;
    background-color: white;
}

ul:hover{
    cursor: pointer;
    background-color: rgb(98, 136, 238);
}


@media(max-width:700px){
    .board{
        width: 500px;
    }
    ul p{
        width: 55px;
        height: 55px;
        
    }
    
}
@media(max-width:520px){
    .board{
        width: 400px;
    }
    ul p{
        width: 40px;
        height: 40px;
        
    }
    
}
@media(max-width:420px){
    .board{
        width: 320px;
    }
    ul p{
        width: 30px;
        height: 30px;
        
    }
    
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
